.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.logo h2 {
    color: #2563eb;
    font-size: 30px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-links li {
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li:hover {
    color: #2563eb;
}

.get-started-btn {
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.get-started-btn:hover {
    background: #1d4ed8;
}